body {
  background-color: beige;
  padding-top: 3rem;
}

.starter-template {
  padding: 2rem 1.5rem;
  text-align: center;
}

.centerPage-template {
  text-align: center;
}

.tre-colonne{
    border: 1px solid #ececec;

    column-count: 3;
    column-gap: 3rem;

    -moz-column-count: 3;
    -moz-column-gap: 3rem;

    -webkit-column-count: 3;
    -webkit-column-gap: 3rem;
  }

h1{
	color:#8b0000;
}

h2{
	color:#daa520;
}