<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CityBuilder</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    
</head>
   
<input type="hidden" th:field="*{states}">
  
    <ul>
	    <div class="starter-template">
	    <h2>Ecco le citt<font>&#225</font> presenti:</h2>	   		
	    	<p class="tre-colonne">
			    <span th:each="i : ${listaCitta}"><br> <name="cities" th:value="${i}" th:text="${i}"><br>
			    </span>
		    </p>
	    </div>  
    </ul>
    
    <form action="/">
	    <div class="centerPage-template">
	    	<input type="text" name="name" placeholder="Inserisci il nome qui" required><br><br>
	    	<input type="text" name="district" placeholder="Inserisci il nome del distretto qui" required><br><br>
	    <input type="submit" value="vai"><br><br>
	    </div>
    </form>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>    
</html>