<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CityBuilder</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    
</head>
	<div class="starter-template">
        <h2>
        <span>In quale Stato del continente vuoi inserire la citt<font>&#225</font>?</span></h2>
    </div>
    
    	<ul>
		    <div class="centerPage-template">
			    <p class="tre-colonne">
				    <span th:each="i : ${listaStati}">
				    	<input type="radio" name="states" th:value="${i}" th:text="${i}"><br>
				    </span>
			    </p>
		    <input type="submit" value="vai">
		    </div>
	    </ul>  

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script> 
</html>